In [1]:
# 加载库
import pandas as pd
# 创建数据帧
dataframe = pd.DataFrame()
# 增加列
dataframe['Name'] = ['Jacky Jackson', 'Steven Stevenson']
dataframe['Age'] = [38, 25]
dataframe['Driver'] = [True, False]
# 创建一行
new_person = pd.Series(['Molly Mooney', 40, True], index=['Name','Age','Driver'])
# 附加一行
dataframe = pd.concat([dataframe, new_person.to_frame().T])

# Display the updated dataframe
dataframe

               Name Age Driver
0     Jacky Jackson  38   True
1  Steven Stevenson  25  False
0      Molly Mooney  40   True